$bgCardColor : rgb(218, 218, 218);
$bgElements: #505050; 
$blackColor : black;
$secondaryFontColor:#565656 ;
$importantFontWeight: 800;
$bgnewPokemonButton: rgb(150, 0, 0);

@import "savedPokemons";
#logoGeneral{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $secondaryFontColor;
    

    
    
}
#fatherpokedexlogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pokedexlogo{
    width: 30%;
    height: auto;
}


#mainInfo{
    display: flex;
    
    justify-content: center;
    align-items: center;
    // padding: 0 0 20px 0;
    height: 685px;
    
}
.btn{
    background-color: $bgnewPokemonButton;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // margin-left: 10%;
    margin-top:1vw ;
   
    font-weight: $importantFontWeight;

}
#saveButton{
    color: $blackColor;
    background-color: #919191;
    
}
#saveButton:hover{
   
    color: white;
    background-color: $bgnewPokemonButton;
    
}
#searchButton:hover{
   
    color: $blackColor;
    background-color: #919191;
    
}

svg{
    margin-left: auto;
    
}

// @keyframes motion{
    
//     50%  {background-color:blue; left:200px; top:200px;}
    
//     100% {background-color:$bgCardColor; left:0px; top:0px;}
//   }
  
#pokemonCard{
    font-weight: $importantFontWeight;
    border-radius: 30px;
    // background-color: $bgCardColor;
    background-color: #dcdcdc;
    background-image: linear-gradient(160deg, #dcdcdc 0%, $bgnewPokemonButton 100%);

   

    border: 2px solid $blackColor;
    height: 200px;
    width:90%;
    margin: 20px 0 5% 0;
   
    display: flex;
    align-items: center;
    align-content: center;
}
    
#pokemonCard:hover{
    opacity: 70%;
}


#imgPokemon{
    width: 100%;
    height: 100%;
    
}

#pokemonInfo{
    height: 100%;
    margin-left: 20px;
    
    
}

#pokemonNumber{
    color: $secondaryFontColor;
    font-weight: $importantFontWeight;
    border: 1px dashed $secondaryFontColor;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0 ;

}
footer{
    display: flex;
    flex-direction: column;
    padding: 20px;    

    background-color: $bgElements;
}
