$bgCardColor : rgb(218, 218, 218);
$blackColor : black;
$secondaryFontColor:#919191 ;
$importantFontWeight: 800;

#logoGeneral{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#pokedexlogo{
    width: 30%;
    height: auto;
}

#searchButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

#pokemonCard{
    font-weight: $importantFontWeight;
    border-radius: 30px;
    background-color: $bgCardColor;
    height: 200px;
    margin: 5% 0 0 10%;
    padding: 20px;
    display: flex;
    align-items: center;
    
    align-content: center;
    
    
}
#pokemonImg{
    margin-right: 10%;
    
}

#imgPokemon{
    width: 90%;
    height: 90%;
    
}

#pokemonInfo{
    height: 100%;
    
}

#pokemonNumber{
    color: $secondaryFontColor;
    font-weight: $importantFontWeight;

}